config MTK_SHINE_LITE_BMA255_NEW
	bool "MTK_SHINE_LITE_BMA255_NEW for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MTK_SHINE_LITE_BMA255_NEW Accelerometer.

